<div class="add-keep-form">
	<form class="form" ng-submit="$ctrl.addKeep($ctrl.newKeep)">
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Title" ng-model="$ctrl.newKeep.title">
		</div>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Image Url" ng-model="$ctrl.newKeep.imgUrl">
		</div>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Link to Article" ng-model="$ctrl.newKeep.link">
		</div>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Tags" ng-model="$ctrl.newKeep.tags">
		</div>
		<div class="form-group">
			<label for="public">Mark as Public?</label>
			<input type="checkbox" class="form-control" ng-model="$ctrl.newKeep.public">
		</div>
		<div class="row">
			<div class="col-sm-6">
				<button class="btn btn-theme btn-block" type="submit">Keep</button>
			</div>
			<div class="col-sm-6">
				<button class="btn btn-info btn-block" type="reset">Reset</button>
			</div>
		</div>
	</form>
</div>

<div class="my-keeps">
	<h2>This is a place where you can manage your individual keeps</h2>
	{{$ctrl.myKeeps}}

	<div class="gallery">

		<div class="col-sm-4 freaking-keeper" style="margin: .6em 0;" ng-repeat="mykeeps in $ctrl.myKeeps | filter: $ctrl.query">
			<div class="keep">
				<div class="keep-img">
					<img ng-src="{{mykeeps.imgUrl}}" alt="Image title">
					<p class="text-center hideMe">
						<a class="btn btn-theme" role="button" ng-click="$ctrl.onKeepClick(keep)">K</a>
						<a class="btn btn-default" href="https://www.facebook.com/sharer/sharer.php?u={{mykeeps.link}};src=sdkpreparse" role="button"><i class="fa fa-share"></i></a>
						<a class="btn btn-info" role="button" href="{{mykeeps.link}}" target="_blank"><i class="fa fa-eye"></i></a>
					</p>
				</div>
				<div class="keep-details">
					<hr>
					<div class="highlights text-muted text-center">
						<span><span class="theme-font">k:</span>{{mykeeps.keepCount}}</span>
						<span><i class="fa fa-share"></i>: {{mykeeps.shareCount}}</span>
						<span><i class="fa fa-eye"></i>: {{mykeeps.viewCount}}</span>
					</div>
					<hr>
					<h3>{{mykeeps.title}}</h3>
					<div class="caption">
						<p>{{mykeeps.body}}</p>
						<hr>

					</div>
				</div>
			</div>

		</div>
	</div>
</div>